service:
  systemPort: 4445
  internalPort: 4444
  externalPort: 4444
image:
  refs:
    chatty_service: latest
  registry: russelvela
  pullPolicy: Always
replicaCount: 3
probes:
  liveness:
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 3
    timeoutSeconds: 5
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 3
    timeoutSeconds: 5
resources:
  limits:
    cpu: "2000m"
    memory: "1Gi"
  requests:
    cpu: "1000m"
    memory: "256Mi"
