apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "service.name" . }}-ingress
  labels:
    app: {{ template "service.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    type: microservice
spec:
  rules:
    - host: localhost
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ template "service.name" . }}
                port:
                  number: {{ .Values.service.externalPort }}
  ingressClassName: nginx
